<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List of owners</title>
</head>
<body>
    <h1 th:text="'List of owners'">List of owners</h1>
    <table>
      <thead>
        <tr>
          <th>Id</th>
          <th>First name</th>
          <th>Last name</th>
        </tr>
      </thead>

      <tbody>
	      <tr th:each="owner : ${owners}">
	        <th th:text="${owner.getId()}"></th>
	        <th th:text="${owner.getFirstName()}"></th>
	        <th th:text="${owner.getLastName()}"></th>
	      </tr>
      </tbody>
    </table>
</body>
</html>